/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


===============================================================================================================================================================================


body {
	background-color: black;
	height: 100%;
	width: 100%;
}

.container {
	width: 100%;
	height: 90%;
}

.header {
		width: 100%;
		background-color: black;
		color: white;
		text-align: center;
}

.header h1{
	font-size: 2em;
	margin-bottom: 2%;
	padding-top: 1%;
}

.header h3{
	font-size: 1em;
	margin-bottom: 3%;
	padding-bottom: 1%;

}

.counter{
		clear: both;
		width: 100%;
		height: 10%;
		background-color: blue;
		color: white;
		text-align: center;
		}

.setImg{

	width: 100%;
	
}


.setImg img{
	width: 9.5em;
	border-radius: 6em;
	height: 9.5em;
	margin-top: 3em;
	margin-right: 3em;
	margin-left: 11em;
	border: solid .30em black;
	display: inline-block;
	padding: 0;
	

}


.setImg img:hover{

		width: 12.5em;
		border-radius: 8em;
		height: 11.5em;
	
	}

.setImg p{
	text-align: center;
	font-weight: bold;
	font-size: 2em;

}






.questions {

	margin-top: 5em;
	/*border: solid red 1px; */
	text-align: center;
	line-height: 3em;

}

.questions h1{
	font-size: 2em;

}



.setImg li{
	display: inline;
}

#set1 {
	visibility: visible;
}

#q1 {

	visibility: visible;
}


#set2 {
	visibility: hidden;

}

#q2{

	visibility: hidden;
}

.counter{
	background-color: black;
	line-height: 2em;
}

.counter p {
	border-margin-top: 1em;
}